# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/HelloWorld/nbproject/private/
/HelloWorld/build/
/HelloWorld/dist/
/Chapter2/nbproject/private/
/Chapter2/build/
/JavaApplication126/nbproject/private/
/Chapter2-InputExamples/nbproject/private/
/Chapter2-InputExamples/build/
/Chapter3/nbproject/private/
/Chapter3/build/
/Project1/nbproject/private/
/Project1/build/
/Chapter4/nbproject/private/
/Chapter4/build/
/Chapter4-Files/nbproject/private/
/Chapter4-Files/build/
/Chapter5Methods/nbproject/private/
/Chapter5Methods/build/
/Project2/nbproject/private/
/Project2/build/
/Chapter6Classes/nbproject/private/
/Chapter6Classes/build/
/MidtermReview/nbproject/private/
/MidtermReview/build/
/Chapter7Arrays/nbproject/private/
/Chapter7Arrays/build/
/Chapter7ArrayLists/nbproject/private/
/Chapter7ArrayLists/build/
/Temp/nbproject/private/
/Project3/nbproject/private/
/Project3/build/
